 .u-section-1 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 559px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(#999999, white);
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 500px;
  height: 500px;
  margin: -441px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-1 .u-container-layout-2 {
  padding: 12px 53px;
}

.u-section-1 .u-text-1 {
  margin: 162px 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 23px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-shape-1 {
    width: 412px;
    height: 412px;
    min-height: 0;
  }

  .u-section-1 .u-image-1 {
    width: 412px;
    height: 412px;
    margin-top: -353px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-1 .u-shape-1 {
    width: 316px;
    height: 316px;
  }

  .u-section-1 .u-image-1 {
    width: 316px;
    height: 316px;
    margin-top: -257px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 296px;
    height: 302px;
    margin-right: 96px;
  }

  .u-section-1 .u-image-1 {
    width: 296px;
    height: 306px;
    margin-top: -253px;
    margin-left: 111px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-1 .u-shape-1 {
    width: 280px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 317px;
    height: 317px;
    margin-top: -242px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/download.jpg");
  background-position: 50% 50%;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 270px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/download1.jpg");
  background-position: 50% 50%;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 270px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/images.jpg");
  background-position: 50% 50%;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 270px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1304px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 290px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    background-position: 47.84% 50%;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 290px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 290px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
  }
} .u-section-3 {
  background-image: url("images/fdx.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 562px;
}

.u-section-3 .u-slider-1 {
  width: 533px;
  min-height: 442px;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
  margin: 60px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 26px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/default-image.jpg");
  box-shadow: -2px 0 0 0 rgba(85,83,83,0);
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 50px 3px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 28px 5px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 400;
  margin: 73px auto 0;
}

.u-section-3 .u-icon-1 {
  width: 53px;
  height: 53px;
  background-image: linear-gradient(to right, #999999, #f2f2f2);
  margin: -53px 60px 0 auto;
  padding: 11px;
}

.u-section-3 .u-icon-2 {
  width: 52px;
  height: 52px;
  margin: -48px auto 0 60px;
  padding: 4px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/default-image.jpg");
  box-shadow: -2px 0 0 0 rgba(85,83,83,0);
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px 30px 65px;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 49px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: linear-gradient(#c3bebe, #6ec7ea);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 400;
  margin: 31px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  background-image: linear-gradient(black, #808080);
  padding: 10px;
}

.u-section-3 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  background-image: linear-gradient(black, #808080);
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-carousel-indicators-1 {
    inset: auto auto -21px 0px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    border-style: none;
  }

  .u-section-3 .u-btn-2 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 42px;
    padding-right: 42px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -53px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-carousel-control-2 {
    left: auto;
    position: absolute;
    right: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(#17f4c3, #36b1e1);
}

.u-section-4 .u-sheet-1 {
  min-height: 759px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 639px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 15px;
}

.u-section-4 .u-image-1 {
  height: 590px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-2 {
  height: 479px;
  width: 521px;
  margin: -515px auto 36px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 639px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-transform: none;
  margin: 66px 0 0 auto;
}

.u-section-4 .u-line-1 {
  width: 360px;
  height: 0;
  margin: 18px 0 0 auto;
}

.u-section-4 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 32px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-4 .u-image-1 {
    height: 481px;
  }

  .u-section-4 .u-image-2 {
    height: 405px;
    width: 440px;
    margin-top: -406px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-4 .u-line-1 {
    width: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-4 .u-image-1 {
    height: 361px;
  }

  .u-section-4 .u-image-2 {
    height: 304px;
    margin-top: -332px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-line-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-1 {
    height: 537px;
    width: 508px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    height: 468px;
    width: 508px;
    margin: -507px auto 39px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-4 .u-image-1 {
    height: 338px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 286px;
    width: 306px;
    margin-top: -312px;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}